.language-btn {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  color: #0f172a;
  background-color: transparent;
  margin: 12px;
  padding: 10px;
  flex-shrink: 0;
  cursor: pointer;
  outline: none;
  border: none;
}
.active-btn {
  color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 24px;
}
